.cummun{
    display: flex;
    max-width: 1024px;
    width: 100%;
    gap: 20px;
    justify-content: flex-start;
}

.cummunItem{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 240px;
    max-width: 250px;
}

.communImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cummunName{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
}

.cummunInfo{
    font-size: 14px;
    color: gray;
}

.cummunTraveler{
    font-size: 14px;
    color: gray;
}