.header{
    background-color: #003580;
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
}

.hedaerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.hedaerContainer.listMode{
    margin: 20px 0px 0px 0px;
}

.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 60px;
}

.hedaerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.hedaerListItem.active{
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 20px;
    background-color: #42526960;
}

.HedaerDesc{
    margin: 20px 0;
    font-size: 1.3rem;
}

.hedaerTitile{
    font-size: 3rem;
}

.headerBtn{
    background-color: #0071c2;
    color: #fff;
    border: 0;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    font-size: 1.1rem;
}

.headerSearch{
    height: 30px;
    background-color: #fff;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
    border-radius: 5px;
    position: absolute;
    bottom: -35px;
    width: 100%;
    max-width: 1024px;
}

.headerIcon{
    color: lightgray;
}

.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput{
    border: none;
    outline: none;
}

.headerSearchItem{
    color: lightgray;
    cursor: pointer;
}

.Date{
    position: absolute;
    top: 60px;
    z-index: 2;
}
.options{
    position: absolute;
    top: 60px;
    color: gray;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
    z-index: 2;
}
.optionItem{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin:10px;
}

.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-size: 12px;
}

.optionCounterButton{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #0071c2;
    cursor: pointer;
    color: #0071c2;
    background-color: #fff;
}